.content {
  width: 100vw;
  background-color: var(--bg-grey);
  flex: 1;
  overflow-y: auto;
  z-index: 1;

  @media screen and (min-width: 1440px) {
    overflow-y: hidden;
  }

  &__blocks {
    width: 100%;
    height: 100%;
    margin-top: 3rem;

    color: var(--light-grey);
    font-size: 1.1rem;

    padding: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: 1025px) {
      flex-wrap: wrap;
    }

    @media screen and (orientation: portrait) and (max-height: 720px) {
      padding: 1rem;
    }

    h2 {
      color: var(--white);
      font-size: 1.2rem;

      @media screen and (min-width: 480px) {
        font-size: 1.3rem;
      }

      @media screen and (orientation: portrait) and (max-height: 720px) {
        font-size: 0.9rem;
      }
    }

    &__first_block {
      @media screen and (max-width: 1025px) {
        width: 50%;
      }

      width: 33%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;

      h2 {
        @media screen and (min-width: 1025px) {
          width: 100%;
          text-align: center;
        }
      }

      &__options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        @media screen and (min-width: 1025px) {
          margin-top: 2rem;
        }

        &__option {
          display: flex;
          align-items: center;
          gap: 2rem;

          @mixin pseudoelement {
            content: "";
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
          }

          input {
            cursor: pointer;
            transform: scale(1.5);
            position: relative;
            background-color: transparent;

            @media screen and (min-width: 1025px) {
              transform: scale(2);
            }
          }

          input::before {
            @include pseudoelement();
            box-sizing: content-box;
            background-color: var(--bg-grey);
            border-radius: 100%;
            border: solid var(--white) 2px;
            top: -10%;
            left: -10%;
          }

          input::after {
            @include pseudoelement();
            box-sizing: border-box;
            border-radius: 100%;
            top: 10%;
            left: 10%;
            transform: scale(0.7);
            transition: 125ms;
          }

          input:checked + label {
            font-weight: 600;
            color: var(--white);
          }

          input:checked::after {
            background-color: var(--white);
          }

          label {
            font-size: 1.3rem;
            transition: 125ms;

            @media screen and (orientation: portrait) and (max-height: 741px) {
              font-size: 1rem;
            }
          }
        }
      }
    }

    &__second_block {
      @media screen and (max-width: 1025px) {
        width: 50%;
        align-items: flex-end;
      }

      width: 33%;

      display: flex;
      flex-direction: column;
      align-items: center;

      &__btns {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        gap: 1rem;

        @media screen and (min-width: 1025px) {
          margin-top: 4rem;
          flex-direction: row;
          justify-content: center;
          gap: 2rem;
        }

        button {
          font-size: 1.1rem;
          width: 11rem;
          height: 3rem;
          background-color: transparent;
          font-weight: 700;
          border: solid var(--white) 2px;
          color: var(--light-grey);
          cursor: pointer;
          transition: 250ms;
          position: relative;

          @media screen and (orientation: portrait) and (max-height: 740px) {
            font-size: 0.8rem;
            width: 7rem;
            height: 2rem;
          }

          span {
            position: relative;
            z-index: 3;
          }
        }

        button::before {
          content: "";
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(45deg, var(--dark-orange), var(--orange));
          position: absolute;
          z-index: 2;
          transition: opacity 250ms;
          opacity: 0;
        }

        button:hover {
          color: var(--white);
        }

        button:hover::before {
          opacity: 1;
        }
      }
    }

    &__last_block {
      text-align: center;
      margin-top: 3rem;

      p {
        margin-top: 3rem;
        font-size: 0.8rem;
      }

      @media screen and (orientation: portrait) and (max-height: 740px) {
        p {
          margin-top: 0.75rem;
          font-size: 0.75rem;
        }
      }

      @media screen and (min-width: 360px) and (min-height: 741px) {
        p {
          font-size: 0.9rem;
        }
      }

      @media screen and (min-width: 800px) {
        padding: 1rem;
        padding-top: 0rem;
      }

      @media screen and (min-width: 1440px) {
        padding: 0rem;
        p {
          font-size: 1.05rem;
          margin-top: 5rem;
        }
      }

      @media screen and (min-width: 1025px) {
        margin-top: 0rem;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin-top: 5rem;
        }
      }

      @media screen and (min-width: 1280px) {
        p {
          margin-top: 3rem;
        }
      }
    }
  }

  &__heading {
    margin-top: 2rem;
    text-align: center;
    color: var(--white);
    width: auto;
    position: relative;
    font-weight: 400;
    font-size: 2.25rem;

    @media screen and (min-width: 1367px) {
      font-size: 2.75rem;
      margin-top: 5rem;
    }

    @media screen and (orientation: portrait) and (max-height: 740px) {
      font-size: 1.7rem;
      margin-top: 1rem;
    }
  }

  &__heading::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--white);
    width: 36%;
    left: 32%;
    margin-top: 0.5rem;

    @media screen and (min-width: 1025px) {
      width: 12%;
      left: 44%;
    }
  }
}
