.footer {
    width: 100%;
    background-color: var(--dark-grey);
    border-top: solid black 1px;
    padding: 1.2rem;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__box_wrapper {
        position: relative;
        height: 6rem;
        min-width: 6rem;
        cursor: pointer;

        &__box {
            width: 6rem;
            height: 6rem;
            border: solid var(--grey) 1px;
            position: absolute;
            transition: border-color 250ms, transform 1000ms;
        }

        &__text {
            color: var(--grey);
            font-size: 1.4rem;
            padding: 0.5rem;
            position: absolute;
            height: 6rem;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            transition: color 250ms;

            &__p {
                margin: 0;
                padding: 0;
            }
        }
    }

    &__box_wrapper:hover &__box_wrapper__box {
        border-color: var(--dark-orange);
        transform: rotate(360deg);
        position: fixed;
    }

    &__box_wrapper:hover &__box_wrapper__text {
        color: var(--light-grey);
    }
}