.footer {
  width: 100%;
  background-color: var(--dark-grey);
  border-top: solid black 1px;
  height: 8.5rem;
  overflow: hidden;
  z-index: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 960px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__dropdown {
    z-index: 2
    position fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);

    &__menu {
      width: 18rem;
      position: fixed;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      z-index: -1;
      opacity: 0;
      background-color: var(--white);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      transition: 200ms;

      button {
        width: 18rem;
        background-color: transparent;
        border: none;
        color: var(--dark-grey);
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
        transition: 200ms;
      }

      button:hover {
        color: var(--orange);
      }
    }

    &__btn {
      cursor: pointer;
      color: var(--light-grey);
      border: solid var(--grey) 1px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 6rem;
      padding-right: 6rem;
      font-weight: 700;
      font-size: 1.1rem;
      width: 18rem;
      background-color: var(--dark-grey);
      z-index: 10;

      transition: 200ms;

      &__span {
        img {
          height: 1rem;
          margin-left: 0.5rem;
        }
      }
    }

    &__btn:focus {
      border-color: var(--white);
      color: var(--white);
    }

    &__btn:focus + &__menu {
      transform: translateY(-114%);
      opacity: 1;
    }
  }

  &__logo {
    display: none;
    color: var(--grey);
    font-size: 1.6rem;
    position: relative;

    @media screen and (min-width: 960px) {
      display: block;
    }
  }

  &__logo::before,
  &__logo::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--grey);
    height: 1px;
    width: 3rem;
    top: 50%;
  }

  &__logo::after {
    right: 100%;
    margin-right: 0.5rem;
  }

  &__logo::before {
    left: 100%;
    margin-left: 0.5rem;
  }

  &__box_wrapper {
    position: relative;
    height: 6rem;
    min-width: 6rem;
    cursor: pointer;

    &__box {
      width: 6rem;
      height: 6rem;
      border: solid var(--grey) 1px;
      position: absolute;
      transition: border-color 250ms, transform 1000ms;
    }

    &__text {
      color: var(--grey);
      font-size: 1.4rem;
      padding: 0.5rem;
      position: absolute;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      transition: color 250ms;

      &__p {
        margin: 0;
        padding: 0;
      }
    }
  }

  &__box_wrapper:hover &__box_wrapper__box {
    border-color: var(--dark-orange);
    transform: rotate(360deg);
    position: fixed;
  }

  &__box_wrapper:hover &__box_wrapper__text {
    color: var(--light-grey);
  }
}
