@import 'nav';

:root {
  --darker-grey: #0b0c10;
  --dark-grey: #15161a;
  --grey: #303030;
  --white: #fefefe;
  --bg-grey: #2a2d36;
  --light-grey: #a1a7b5;
  --orange: #e88301;
  --dark-orange: #cd7400;
}

html {
    font-size: 14px;

    @media screen and (min-width: 480px) {
        font-size: 16px;
    }
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-width : 100vw;
    min-height : 100vh;
}